<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="parent" value="Echipaj" />
    <add key="parent_key" value="cod_echipaj" />
    <add key="child" value="Marinar" />

    <!-- <add key="parent" value="Clan" /> -->
    <!-- <add key="parent_key" value="cod_clan" /> -->
    <!-- <add key="child" value="Individuals" /> -->
  </appSettings>
</configuration>